In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [274]:
def read_and_concatenate(path, low, high):
    
    '''
    takes in csv files the range of numbers at the end of the csv files and returns
    an appended data frame
    
    input:
        path - the file path with a number for each csv
        low - lowest path number
        high - highest path number
        
    output:
        concatenated dataframe
    '''
    
    df_list = []
    for i in range(low,high+1):
        df_list.append(pd.read_csv(path.format(i)))

    concated = pd.concat(df_list)

    return concated

data = read_and_concatenate('data/book_data_{}.csv',1,13)

In [241]:
data

,Unnamed: 0,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,"4.28 avg rating — 4,501,075 ratings","score: 2,314,743","23,465 people voted",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,"4.47 avg rating — 7,049,026 ratings","score: 1,776,963","18,119 people voted",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,2,3,1984,George Orwell,Kindle Edition,237 pages,"4.19 avg rating — 3,140,442 ratings","score: 1,645,480","16,814 people voted",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,"4.26 avg rating — 2,998,241 ratings","score: 1,417,523","14,515 people voted",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,"4.15 avg rating — 2,741,166 ratings","score: 1,349,093","13,817 people voted",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...,...
395,395,4753,Divided By Seven Billion,Balkaran Singh Sidhu,Kindle Edition,100 pages,4.91 avg rating — 11 ratings,score: 199,2 people voted,NaN,Published\n June 1st 2014\n by ...
396,396,4753,23 Things They Don't Tell You about Capitalism,Ha-Joon Chang,Hardcover,286 pages,"3.98 avg rating — 8,396 ratings",score: 199,3 people voted,(first published March 10th 2010),Published\n January 2nd 2011\n ...
397,397,4753,A House in the Sky,Amanda Lindhout,Hardcover,373 pages,"4.24 avg rating — 48,742 ratings",score: 199,2 people voted,(first published June 25th 2013),Published\n September 10th 2013\n ...
398,398,4753,I Must Say: My Life as a Humble Comedy Legend,Martin Short,Hardcover,336 pages,"4.07 avg rating — 10,576 ratings",score: 199,2 people voted,(first published January 1st 2014),Published\n November 4th 2014\n ...
399,399,4753,"Crucial Lessons (Brothers LaFon, #1)",Joseph Lance Tonlet,Kindle Edition,56 pages,3.94 avg rating — 462 ratings,score: 199,2 people voted,NaN,Published\n February 28th 2015\n ...

In [276]:
data = data.drop(columns=['Unnamed: 0'])

In [277]:
def split_front_number(x):
    '''
    will be used with .apply to split out numbers at the front of each data column
    (could also do this with a lambda function)
    
    input:
        
        
    output:
        first value of a list which is the desired number
    '''
    
    
    return x.split(' ')[0]

data['rating'] = data.rating.apply(split_front_number)
data['votes'] = data.votes.apply(split_front_number)
# data['pages'] = data.pages.apply(split_number)


data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743","23,465",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963","18,119",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480","16,814",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523","14,515",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093","13,817",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,4753,Divided By Seven Billion,Balkaran Singh Sidhu,Kindle Edition,100 pages,4.91,score: 199,2,NaN,Published\n June 1st 2014\n by ...
396,4753,23 Things They Don't Tell You about Capitalism,Ha-Joon Chang,Hardcover,286 pages,3.98,score: 199,3,(first published March 10th 2010),Published\n January 2nd 2011\n ...
397,4753,A House in the Sky,Amanda Lindhout,Hardcover,373 pages,4.24,score: 199,2,(first published June 25th 2013),Published\n September 10th 2013\n ...
398,4753,I Must Say: My Life as a Humble Comedy Legend,Martin Short,Hardcover,336 pages,4.07,score: 199,2,(first published January 1st 2014),Published\n November 4th 2014\n ...
399,4753,"Crucial Lessons (Brothers LaFon, #1)",Joseph Lance Tonlet,Kindle Edition,56 pages,3.94,score: 199,2,NaN,Published\n February 28th 2015\n ...

In [230]:
# THIS ONE DOESN'T WORK - SOMETHING IS GOING ON WITH THE SCORE VARIABLE

# def split_back_number(x):
#     '''
#     will be used with .apply to split out numbers at the back of each data column
#     (could also do this with a lambda function)
    
#     input:
        
        
#     output:
#         second value of a list which is the desired number
#     '''
    
    
#     return x.split(' ')[0]

# data['score'] = data.score.apply(split_back_number)

# data

IndexError: list index out of range

In [278]:
# when ratings fall right on a number they are prefixed by phrase, this replace that with just a number

data['rating'] = data['rating'].replace('it', '5.00')
data['rating'] = data['rating'].replace('really', '4.00')
data['rating'] = data['rating'].replace('liked', '3.00')
data['rating'] = data['rating'].replace("didn't", '1.00')

data[["rating"]] = data[["rating"]].apply(pd.to_numeric)
data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743","23,465",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963","18,119",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480","16,814",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523","14,515",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093","13,817",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,4753,Divided By Seven Billion,Balkaran Singh Sidhu,Kindle Edition,100 pages,4.91,score: 199,2,NaN,Published\n June 1st 2014\n by ...
396,4753,23 Things They Don't Tell You about Capitalism,Ha-Joon Chang,Hardcover,286 pages,3.98,score: 199,3,(first published March 10th 2010),Published\n January 2nd 2011\n ...
397,4753,A House in the Sky,Amanda Lindhout,Hardcover,373 pages,4.24,score: 199,2,(first published June 25th 2013),Published\n September 10th 2013\n ...
398,4753,I Must Say: My Life as a Humble Comedy Legend,Martin Short,Hardcover,336 pages,4.07,score: 199,2,(first published January 1st 2014),Published\n November 4th 2014\n ...
399,4753,"Crucial Lessons (Brothers LaFon, #1)",Joseph Lance Tonlet,Kindle Edition,56 pages,3.94,score: 199,2,NaN,Published\n February 28th 2015\n ...

In [279]:
# turn votes category numeric

data["votes"] = data["votes"].str.replace(",","")
data[["votes"]] = data[["votes"]].apply(pd.to_numeric)

In [270]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 399
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              4800 non-null   int64
 1   title             4800 non-null   object
 2   author            4800 non-null   object
 3   format            4696 non-null   object
 4   pages             4614 non-null   object
 5   rating            4800 non-null   float64
 6   score             4800 non-null   object
 7   votes             4800 non-null   int64
 8   release_date      3125 non-null   object
 9   new_release_date  4727 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 412.5+ KB

In [271]:
data.describe()

              rank       rating         votes
count  4800.000000  4800.000000   4800.000000
mean   2395.198958     4.059767    146.450208
std    1379.001226     0.319809    864.773818
min       1.000000     0.000000      1.000000
25%    1200.750000     3.900000      4.000000
50%    2399.500000     4.075000      7.000000
75%    3592.000000     4.250000     22.000000
max    4753.000000     4.980000  23465.000000

In [264]:
data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743",23465,(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963",18119,(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480",16814,(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523",14515,(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093",13817,(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,4753,Divided By Seven Billion,Balkaran Singh Sidhu,Kindle Edition,100 pages,4.91,score: 199,2,NaN,Published\n June 1st 2014\n by ...
396,4753,23 Things They Don't Tell You about Capitalism,Ha-Joon Chang,Hardcover,286 pages,3.98,score: 199,3,(first published March 10th 2010),Published\n January 2nd 2011\n ...
397,4753,A House in the Sky,Amanda Lindhout,Hardcover,373 pages,4.24,score: 199,2,(first published June 25th 2013),Published\n September 10th 2013\n ...
398,4753,I Must Say: My Life as a Humble Comedy Legend,Martin Short,Hardcover,336 pages,4.07,score: 199,2,(first published January 1st 2014),Published\n November 4th 2014\n ...
399,4753,"Crucial Lessons (Brothers LaFon, #1)",Joseph Lance Tonlet,Kindle Edition,56 pages,3.94,score: 199,2,NaN,Published\n February 28th 2015\n ...